<html>
<head lang="en">
    <title>Error</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style type="text/css"></style>
</head>
<body>
<div class="container tee">
    <h2><%=error.message%></h2>
    <h3><%=error.status%></h3>
    <pre><%=error.stack%></pre>

    <a href="/" class="btn btn-primary">Back</a>
</div>
</body>
</html>